<section class="aui-page-panel">
    <header class="aui-page-header">
        <meta name="decorator" content="atl.admin"/>
        <meta name="admin.active.section" content="react-plugin-admin-section"/>
        <meta name="admin.active.tab" content="react-plugin-link"/>
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h2>React UI</h2>
            </div>
        </div>
    </header>

    #set ($iframeUrl = "/plugins/servlet/my-react-page")
    <iframe src="$iframeUrl"
            style="width: 100%; height: 800px; border: none;"
            frameborder="0">
    </iframe>
</section>
