<html>
<head>
    <meta charset="UTF-8">
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="react-ui-section">
    <meta name="admin.active.tab" content="react-ui-item">
    <title>My Plugin Admin Page</title>
    $webResourceManager.getRequiredResources()
</head>
<body>
<section class="aui-page-panel">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h2>My Plugin Admin Page</h2>
            </div>
        </div>
    </header>

    <div class="aui-page-panel-content">
        <div id="my-plugin-container"></div>
    </div>
</section>

<script src="$contextPath/download/resources/com.example.my-jira-plugin-backend:split_my-plugin/js/my-plugin.js"></script>
<script>window.initMyPlugin();</script>
</body>
</html>
