<html>
<head>
    <meta charset="UTF-8">
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_plugins_menu">
    <title>My Plugin Admin Page</title>
    <style>
        h2.page-title {
            text-align: center;
            margin-top: 32px;
            margin-bottom: 16px;
        }

        #my-plugin-container {
            min-height: calc(100vh - 240px);
            display: flex;
            flex-direction: column; /* добавлено! */
            align-items: center; /* по центру, а не влево */
        }
    </style>

</head>
<body>
<section>
    <header>
        <h2 class="page-title">My Plugin Admin Page</h2>
    </header>

    <div id="my-plugin-container"></div>
</section>

<script src="$contextPath/download/resources/com.example.my-jira-plugin-backend:split_my-plugin/js/my-plugin.js"></script>
<script>window.initMyPlugin();</script>
</body>
</html>
